{% extends 'base.html' %}
{% load static %}

{% block title %} Awakelab Full Stack Python {% endblock %}

{% block nav-bar %}

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Awakelab</a>
  
        <!-- Navigation Bar Hamburger-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navigation"
          aria-expanded="false"
          aria-controls="navigation" 
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- End Navigation Bar Hamburger -->
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navigation">
           <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a
                  class="nav-link scroll-trigger" 
                  href="#principal">
                    Sistema Medico
                </a>
              </li>
              <li class="nav-item">
                <a 
                  class="nav-link scroll-trigger" 
                  href="#competencias">
                    Competencias
                </a>
              </li>
              <li class="nav-item">
                <a 
                  class="nav-link scroll-trigger" 
                  href="#equipo">
                    Equipo
                </a>
              </li>
              <li class="nav-item">
                <a 
                  class="nav-link scroll-trigger" 
                  href="#enlaces"> 
                    Enlaces
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link scroll-trigger" 
                  href="#contacto">
                    Contacto
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false">
                        Perfil <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a 
                      class="dropdown-item scroll-trigger"
                      href="#"
                      data-toggle="modal"
                      data-target="#profile-modal">
                        Perfil
                    </a>
                    <a class="dropdown-item scroll-trigger"
                      data-toggle="modal"
                      data-target="#settings-modal">
                          Configuración
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item scroll-trigger" href="">
                        Logout
                    </a>
                </div>
              </li>
           </ul>
           <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" 
                type="text"
                placeholder="Search" 
                aria-label="Search">
             <button class="btn btn-outline-success border-dark 
                      font-weight-bold text-white my-2 my-sm-0"
                      type="submit">Search</button>
           </form>
        </div>
        <!-- Navigation Links -->
    </nav>
    <!-- End Navigation Bar -->

{% endblock %}

{% block principal%} 
    <!-- Section: Principal -->
    
        <div class="row">
          <div class="col-sm-12">
            <div class="jumbotron jumbotron-main">
              <h2>Grupo Full Stack Python</h2>
              <h3>Awakelab</h3>
            </div>
          </div>
        </div>
    </div>
    <!-- End Section: Principal -->
{% endblock %}

{% block competencias %}

    <!-- Section: Competencias -->
    
        <div class="row">
          <h3>Nuestras Competencias</h3>
        </div>
        <div class="row">
            {% for clave, valor in card.items %}     
                {% if forloop.counter0 >= 4 %}
                  <div class="col-md-4">
                {% else %}
                  <div class="col-md-6 col-lg-3">
                {% endif %}
                  <div class="card">
                          <h3 class="card-header">{{ clave }}</h3>
                          <div class="card-body">
                              <h4 class="card-title">{{ valor.0 }}</h4>
                              <p class="card-text">{{ valor.1 }}</p>
                              <a href="#!" class="btn btn-dark">Ver mas</a>
                          </div>
                      </div>
                  </div>
            {% endfor %}
        </div>
    
      <!-- End Section: Competencias -->

{% endblock %}

{% block equipo%}
      <!-- Section: Equipo -->
    
        <div class="row">
          <h3>Nuestro Equipo</h3>
        </div>
        <div class="row">
          <div id="team-carousel" 
              class="carousel slide" 
              data-ride="carousel" 
              data-interval="3000">
            <div class="carousel-inner" style="padding: 4rem;" role="listbox">

                {% for clave, valor in equipo.items %}
                    {% if forloop.counter == 1 %}
                        <div style="height: 400px" class="carousel-item active">
                    {% else %}
                        <div style="height: 400px" class="carousel-item">
                    {% endif %}
                    
                        <img class="d-block img-fluid carousel-img" src="{% static valor %}">
                        <div class="carousel-caption">
                            {{clave}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" 
                href="#team-carousel" 
                role="button" 
                data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" 
                href="#team-carousel" 
                role="button" 
                data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#team-carousel" 
                  data-slide-to="0" 
                  class="active"></li>
              <li data-target="#team-carousel" 
                  data-slide-to="1"></li>
              <li data-target="#team-carousel" 
                  data-slide-to="2"></li>
            </ol>
          </div>
        </div>
        </div>
      <!-- End Section: Equipo -->
{% endblock%}

{% block enlaces%} 
    <!-- Section: Enlaces -->
    
        <div class="row">
            <h3>Enlaces de Interés</h3>
        </div>
          {% for clave, valor in enlaces.items %}
            {% if forloop.counter0 == 0 %}
              <div class="row">
            {% endif %}
            <div class="col-md-6">
              <div class="media">
                <img class="d-flex mr-3" src="{% static valor.4 %}" 
                    alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">{{ clave }}</h5>
                  <ul>
                    <li>{{valor.0}}<a href="#">Ver más</a></li>
                    <li>{{valor.1}}<a href="#">Ver más</a></li>
                    <li>{{valor.2}}<a href="#">Ver más</a></li>
                    <li>{{valor.3}}<a href="#">Ver más</a></li>
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    <!-- End Section: Enlaces -->
{% endblock %}

{% block contacto %}

  <!-- Section: Contacto -->
    <div class="row">
        <h2>Contáctanos</h2>
    </div>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-sm-6" id="contact-form">
          <form>
            {% for clave, valor in forms.items %}
              <div class="form-group">
                <label for="contact-{{ clave }}">{{ valor.0 }}</label>
              {% if clave == 'mensaje' %}
                <textarea type="text" class="form-control" id="contact-{{ clave }}" 
                  placeholder="{{ valor.1 }}" rows="4"></textarea>
              {% else %}
                <input type="text" class="form-control" id="contact-{{ clave }}" 
                placeholder="{{ valor.1 }}">
              {% endif %}
              </div>
            {% endfor %}
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary">Enviar</button>
              <button type="button" class="btn btn-outline-secondary">Limpiar</button>
            </div>
          </form>
        </div>
    </div>
  <!-- End Section: Contacto -->

{% endblock %}

{% block footer %}

  <p class="text-muted">&copy; 2020 Awakelab.</p>
  <p class="text-muted">Grupo Full Stack Python</p>

{% endblock %}


{% block modals %}
    <!-- MODAL FORMS -->
    <div class="modal" id="profile-modal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
              <p class="modal-title" id="profile-modal-label">Perfil</p>
            </div>
              <div class="modal-body">
                Perfil
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" 
                    class="btn btn-secondary" 
                    data-dismiss="modal">Cancelar</button>
              </div>
          </div>
       </div>
    </div>
    <div class="modal" id="settings-modal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" 
                aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
              <p class="modal-title" id="settings-modal-label">Configuración</p>
            </div>
            <div class="modal-body">
              Configuración
            </div>
            <div class="modal-footer">
              <button type="button" 
                  class="btn btn-success">Guardar</button>
              <button type="button" 
                  class="btn btn-secondary" 
                  data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
    </div>
    <!-- END MODAL FORMS -->
{% endblock%}