{% extends 'base_admin.html' %}
{% load static %}

{% block titulo %}Registro de Pacientes {% endblock %}

{% block nav-bar %} 
    {{block.super}}
    {% block nav-link-left %}
    <!-- 
        <li class="nav-link"> LINK2 </li>
    -->
    {% endblock %}
{% endblock %}

{% block contenido %} 

<div class="d-flex justify-content-around">    
   
    <div class="col-sm-4 mt-5 mb-5">
        <form action="{% url 'app_admin:borrar' object.id %}"  method="post">
            {% csrf_token %}

            Está seguro de eliminar usuario {{object.nombre}} con id = {{object.id}}? 
            <br>
            <br>
            <br>
            <input class="btn btn-danger btn-block" type="submit" value="Eliminar">
            <input href="{% url 'app_admin:registro' %}" class="btn btn-primary btn-block" type="submit" value="Cancelar">
            
        </form>
        
    </div>
</div>

{% endblock %}

{% block footer %}
    {{block.super}}
{% endblock %}
