{% extends 'base_admin.html' %}
{% load static %}

{% block titulo %}Registro de Pacientes {% endblock %}

{% block nav-bar %} 
    {{block.super}}
    {% block nav-link-left %}
    <!-- 
        <li class="nav-link"> LINK2 </li>
    -->
    {% endblock %}
{% endblock %}

{% block contenido %} 
{% if messages %}
        {% for mensaje in messages %}
        <div class="alert alert-{{mensaje.tags}} alert-dismissible fade show" role="alert">
            <strong>{{mensaje}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}
<div class="d-flex justify-content-around">    
    <div class="col-sm-4">
        <h2>Bienvenido: </h2>
        <img class="img-fluid rounded d-block m-l-none" src="{% static 'img/undraw_personal_info_0okl.svg' %}"  alt="registro">
    </div>
   
    <div class="col-sm-4">
        <form action=""  method="post">
            {% csrf_token %}
            
            {{form.as_table}}
            <br>
            <input class="btn btn-primary btn-block" type="submit" value="Crear">
            
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="table-responsive">
        <table class="table table-md">
            <thead class="thead-dark">
                <tr>
                <th scope="col">id</th>
                <th scope="col">RUN</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in registros %}
                <tr>
                    <th scope="row">{{row.id}}</th>
                    <td>{{row.id_usuario_id}}</td>
                    <td>{{row.nombre}}</td>
                    <td>{{row.apellido_paterno}}</td>
                    <td>{{row.telefono}}</td>
                    <td>
                        <a href="{% url 'app_admin:editar' pk=row.id %}" type="submit" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'app_admin:borrar' pk=row.id %}" type="submit" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{block.super}}
{% endblock %}
