{% extends 'base_medicamentos.html'%}

{% load static %}

    {% block titulo %}Medicamentos de Pacientes{% endblock %}

    {%block nav-bar %}
    {{block.super}}
    {% endblock %}
    
    {% block sidebar %}
    {{ block.super }}
    {% endblock %}
    
    {% block medicamento %}
    <div>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success"  type="submit" value="Agregar" > 
        </form>
    </div>
    {% endblock %}


   {% block footer %}  
   {{block.super}} 
   {% endblock %}