{% extends 'base_medicamentos.html'%}

{% load static %}

    {% block titulo %}Medicamentos de Pacientes{% endblock %}

    {%block nav-bar %}
    {{block.super}}
    {% endblock %}
    
    {% block sidebar %}
    {{ block.super }}
    {% endblock %}
    
    {% block medicamento %}
        <!-- Aqui va tu codigo -->
        <header>
            <div id="header">
                <h3 style="text-align: center;">Medicamentos y dosis</h3>
                <h4 style="text-align: center;">{{dato.nombre}} {{dato.apellido_paterno}}</h4>
                            
                <form method = "POST"> 
                    {% csrf_token %}
                    {{ pacientes }} 
                    <input type = "submit" value = "Ver" class="btn btn-primary btn-sm"> 
                </form> 
                
            </div>
        </header>
        <div id="contenido_medicamentos">
            <div id="tabla">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Medicamento</th>
                            <th>Horario</th>
                            <th>Dosis</th>
                            <th>Fecha</th>

                        </tr>
                    </thead>
                    <tbody id="tabla_medicamento">
                        
                        {%for dato in datos%}
                        <tr>
                            <td>{{dato.nombre}}</td>
                            <td>{{dato.hora}}</td>
                            <td>{{dato.dosis}}</td>
                            <td>{{dato.fecha}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <hr>

            <div id="nuevo_medicamentos">
            <!--   {{datos.0.id_usuario_id}}-->
                <a type="submit" class="btn btn-primary" href="{% url 'app_medicamentos:agregar_medicamento' %}" >Agregar</a>
              
            </div>
        </div>
        <!--fin tu codigo-->
    {% endblock %}


   {% block footer %}  
   {{block.super}} 
   {% endblock %}