{% extends 'base_medicamentos.html'%}

{% load static %}

    {% block titulo %}Medicamentos de Pacientes{% endblock %}

    {%block nav-bar %}
    {{block.super}}
    {% endblock %}
    
    {% block sidebar %}
    {{ block.super }}
    {% endblock %}
    
    {% block medicamento %}
        <!-- Aqui va tu codigo -->
        <header>
            <div id="header">
                <h3 style="text-align: center;">Medicamentos y dosis</h3>
                <h6 style="text-align: center;">{{user.first_name}} {{user.last_name}}</h6>
                
            </div>
        </header>
        <div id="contenido_medicamentos">
            <div id="tabla">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Medicamento</th>
                            <th>Horario</th>
                            <th>Dosis</th>
                            <th>Fecha</th>

                        </tr>
                    </thead>
                    <tbody id="tabla_medicamento">
                        
                        {%for dato in datos%}
                        <tr>
                            <td>{{dato.nombre}}</td>
                            <td>{{dato.hora}}</td>
                            <td>{{dato.dosis}}</td>
                            <td>{{dato.fecha}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
        <!--fin tu codigo-->
    {% endblock %}


   {% block footer %}  
   {{block.super}} 
   {% endblock %}