{% extends 'base_examenes.html' %}
{% load static %}

{% block titulo %}Examenes{% endblock %}

{% block navbar %} {{block.super}} {% endblock%}
{% block sidebar %} {{block.super }} {% endblock%}


{% block encabezado-principal %}
    <!-- Aqui va tu codigo -->
   <div>
       <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{pk}}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {{ form.id_usuario.label_tag }}
                    {{ form.id_usuario }}
                    {{ form.id_usuario.errors|linebreaks }}
                </div>
                <div class="col-md-4">
                    {{ form.fecha.label_tag }}
                    {{ form.fecha }}
                    {{ form.fecha.errors|linebreaks }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    {{ form.hematocrito.label_tag }}
                    {{ form.hematocrito }}
                    {{ form.hematocrito.errors|linebreaks }}
                </div>
                <div class="col-md-2">
                    {{ form.hemoglobina.label_tag }}
                    {{ form.hemoglobina }}
                    {{ form.hemoglobina.errors|linebreaks }}
                </div>
                <div class="col-md-2">
                    {{ form.rcto_eritrocitos.label_tag }}
                    {{ form.rcto_eritrocitos }}
                    {{ form.rcto_eritrocitos.errors|linebreaks }}
                </div>
                <div class="col-md-2">
                    {{ form.rcto_leucocitos.label_tag }}
                    {{ form.rcto_leucocitos }}
                    {{ form.rcto_leucocitos.errors|linebreaks }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form.rcto_plaquetas.label_tag }}
                    {{ form.rcto_plaquetas }}
                    {{ form.rcto_plaquetas.errors|linebreaks }}
                </div>
                <div class="col-md-2">
                    {{ form.v_c_m.label_tag }}
                    {{ form.v_c_m }}
                    {{ form.v_c_m.errors|linebreaks }}
                </div>
                <div class="col-md-2">
                    {{ form.h_c_m.label_tag }}
                    {{ form.h_c_m }}
                    {{ form.h_c_m.errors|linebreaks }}
                </div>
                <div class="col-md-2">
                    {{ form.c_h_c_m.label_tag }}
                    {{ form.c_h_c_m }}
                    {{ form.c_h_c_m.errors|linebreaks }}
                </div>
                <div class="col-md-2">
                    {{ form.r_d_w_c_v.label_tag }}
                    {{ form.r_d_w_c_v }}
                    {{ form.r_d_w_c_v.errors|linebreaks }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form.serie_roja.label_tag }}
                    {{ form.serie_roja }}
                    {{ form.serie_roja.errors|linebreaks }}
                </div>
                <div class="col-md-4">
                    {{ form.serie_blanca.label_tag }}
                    {{ form.serie_blanca}}
                    {{ form.serie_blanca.errors|linebreaks }}
                </div>
                <div class="col-md-4">
                    {{ form.plaquetas.label_tag }}
                    {{ form.plaquetas}}
                    {{ form.plaquetas.errors|linebreaks }}
                </div>
            </div>
            <br>
            <input class="btn btn-success"  type="submit" value="Agregar" > 
        </div>
       </form>
   </div>

{% endblock %}


{% block footer %} {{block.super}} {% endblock %}